.center{
    margin: auto;
    width: 75%;
}

.image{
    width: 300px;
    height: 300px;
}

.top{
    margin-top: 1cm;
    padding-top: 1cm;
}

.text{
    text-align: center;

}

.font-awesome{
    margin-right: 1cm;
    color: blue;
}

#home{
    background-color: #a2d9ff;
}

#footer{
    background-color: #a2d9ff;
}